@model MTOWebApp.Models.ModulesViewModels.ParagraphViewModel

@{
    ViewData["Title"] = "Создание параграфа";
}

<h2>Создание параграфа</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label">Содержание</label>
                <textarea asp-for="Text" type="text" class="form-control" ></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label">Картинка к тексту</label>
                <input type="file" asp-for="Picture" /><br>
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Audio" class="control-label">Аудио к тексту</label>
                <input type="file" asp-for="Audio" /><br>
                <span asp-validation-for="Audio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Video" class="control-label">Видео к тексту</label>
                <input type="file" asp-for="Video" /><br>
                <span asp-validation-for="Video" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ModuleId" value="@Model.ModuleId" />
            <input type="hidden" asp-for="SerialNum" value="@Model.SerialNum" />
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

